<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="mat-elevation-z10 card" fxFlex>
    <mat-card-header>
      <mat-card-title>Making a Blog App using Angular</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="../../assets/images/blog.jpg">

    <mat-card-content>
      <p>This is the introductry part of the blog which provides a brief description about post</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z10 card" fxFlex>
    <mat-card-header>
      <mat-card-title>CRUD app using MEAN</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="../../assets/images/blog.jpg">

    <mat-card-content>
      <p>This is the introductry part of the blog which provides a brief description about post</p>
    </mat-card-content>
  </mat-card>
</div>