
<body>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  
  <div id="main" >
    
   
  
    <div id="lower">
  <!--
      <img class="img-responsive" src="../assets/images/head.jpg" alt="head"/>
  -->
  
      <div class="row">
          <div class="left-side">
            <h4> QUICK LINKS</h4>
            <ul>
              <li>link 1</li>
              <li>link 2</li>
              <li>link 3</li>
              <li>link 4</li>
              <li>link 5</li>
            </ul>
          </div>
          <div class="main">
  
            <img class="img-responsive" src="../assets/images/head.jpg" alt="head"/>
            
            <br>
            <p>The Computer Science and Engineering department offers Bachelors, Masters and 
              Ph.D Degree programmes in Computer Science and Engineering to cater to the everlasting demand of the market. The 
              extensive and sufficient laboratory facilities are one of the added advantages of 
              the Department. These facilities are regularly updated to cope with the ever 
              progressing and rapidly advancing technologies being introduced in software 
              development sector.</p>

            <h3>Vision</h3>
            <p>The vision of the department of Computer Science and Engineeringis to provide a 
              solid technical base combined with critical thinking, intelligence and experiential 
              learning while encouraging entrepreneurship through open innovation with quality to 
              address challenges of the millennium.</p>

            <h3>Mission</h3>
            <p>The mission of the department of Computer Science and Engineering (CSE) is to 
              provide students with excellent engineering education whilst promoting ethical values.
               The department is dedicated to endow students with the knowledge, technical skills, 
               and values that prepare them to excel as engineers and leaders in their profession 
               and to be committed to life-long learning and good citizenship.</p>
                
            <h3>Programme Educational Objective</h3>
            <p>The Department has identified the following Programme Educational Objectives 
              (PEOs) as per the current industry needs and for pursuing research:</p>
            
            <ul>
              <li>Students will gain the ability to identify, formulate, and solve challenging IT problems.</li>
              <li>Students will develop professional skills that will prepare them for immediate 
                employment or get involved in interdisciplinary research activities.</li>
              <li>Students will be provided with an educational foundation that prepares them for 
                leadership roles along diverse career paths.</li>
              <li>Students will develop an understanding of the social and human context in which 
                their engineering contributions will be utilized.</li>
              <li>Students will learn to communicate their ideas in form of presentations, seminars 
                and research publications. Moreover, they learn to work in collaboration with other 
                members of the team.</li>
            </ul>

            <h3>Programme Outcomes</h3>
            <ul>
              <li>To be able to design the models and to test, analyze and interpret the model on the 
                basis of repository data/created data.</li>
              <li>The post graduates are expected to perform thorough literature survey in their 
                field of interest and come out with software/hardware based solution that meets desired 
                needs within realistic constraints such as economic, environmental, social, political, 
                ethical, health and safety and sustainability.</li>
              <li>To meet the dynamic technological challenges, the post graduates are expected to 
                demonstrate an ability to function on multidisciplinary areas.</li>
              <li>The PG programme has been designed for overall personality growth such that they have an 
                ability to communicate effectively in both verbal and written forms.</li>
            </ul>
          </div>
  
          <div class="right-side">
              <h4> ANNOUNCEMENTS</h4>
              <ul>
                <li>Announcement 1</li>
                <li>Announcement 2</li>
                <li>Announcement 3</li>
                <li>Announcement 4</li>
                <li>Announcement 5</li>
              </ul>
            </div>
        </div>
  
    </div>
  </div>
  </body>
  