

<div fxLayout="column" *ngFor="let post of posts" fxLayoutAlign="space-around center">
  <mat-card matRipple tabindex="0" class="mat-elevation-z10 card" fxFlex>
    <a routerLink="view" [state]="{ title: post.title, description: post.description,
                                    url: post.url, content: post.content, author: post.author }">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src= {{post.url}}>
    <mat-card-content>
      <p>{{post.description}}</p>
    </mat-card-content>
  </a>
  </mat-card>

  <div style="z-index:5; position : fixed;display : flex; 
  align-self : flex-end; bottom : 2%; right: 2%; margin-bottom : 2%;">

    <a mat-fab style="margin-right: 15%;" routerLink="add" cdkFocusInitial><img src="../../assets/images/add.png" style="padding-bottom:20px"></a>
  </div>
</div>