.card{
    cursor: pointer;
    max-width: 800px;
    flex: 1 1 100% !important; 
    margin-top: 4%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 8px;
  }

mat-card-title{
    font-size: 36px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

mat-card > img{
    max-height: 360px !important;
}

.mat-fab {
    background-color: #4CAF50 !important;
	width: 80px;
	height: 80px;
}
