<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card class="mat-elevation-z10 card" fxFlex>
    <mat-card-header>
      <mat-card-title>Making a Blog App using Angular</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="../../assets/images/blog.jpg">

    <mat-card-content>
      <p>This is the introductry part of the blog which provides a brief description about post</p>
      <br>
      <mat-icon svgIcon="pre-thumbs-up">Like</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z10 card" fxFlex>
    <mat-card-header>
      <mat-card-title>CRUD app using MEAN</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="../../assets/images/blog.jpg">

    <mat-card-content>
      <p>This is the introductry part of the blog which provides a brief description about post</p>
    </mat-card-content>
  </mat-card>
  <div style="z-index:5; position : fixed;display : flex; 
  align-self : flex-end; bottom : 2%; right: 2%; margin-bottom : 2%;">

    <a mat-fab style="margin-right: 15%;" routerLink="add" cdkFocusInitial><img src="../../assets/images/add.png" style="padding-bottom:20px"></a>
  </div>
</div>