<!--
  TODO:
  - Add errors in form-fields
  - Integrating image search api
-->


<div fxLayout="column" fxLayoutAlign="space-around center" style="width:100%; margin: 2%">
  <mat-form-field appearance="outline" fxFlex style="width:70%">
    <mat-label>Title</mat-label>
    <input matInput #input [(ngModel)]="post.title" maxlength="30" placeholder="Maximum length: 30 characters">
    <mat-hint align="end" >{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex style="width:70%">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="post.description"></textarea>
    <mat-hint>To give reader idea about your post</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex style="width:70%; margin-top: 24px">
    <mat-label>Body</mat-label>
    <textarea matInput [(ngModel)]="post.content" style="height: 200px"></textarea>
    <mat-hint>Your content goes here</mat-hint>
  </mat-form-field>
</div>

<div style="z-index: 5; position: fixed; display: flex;
            align-self: flex-end; bottom : 2%; right: 2%; margin-bottom : 2%;">
  <button type= "submit" id="ok" mat-fab (click)="openDialog(1)"><img src="../../../assets/images/ok.png" style="margin-bottom:80px"></button>
</div>

<div style="z-index: 5; position: fixed; display:flex;
            align-self: flex-start; bottom: 2%; left: 2%; margin-bottom: 2%">
  <a id="cancel" mat-fab (click)="openDialog(0)"><img src="../../../assets/images/cancel.png"></a>
</div>